<div id="research" class="page" ng-controller="CollabCtrl">
  <div class="pageheader">
    <div class="headercontent">
      <div class="section-container">
        <h2 class="title">Activities</h2>
        <p>I have served on several program committees: <a href="https://ac.tuwien.ac.at/mfcs2022/">MFCS'22</a> (co-chair), <a href="http://i-cav.org/2021/">CAV'21</a> (co-chair), ...<a href="#/programcommittees.html"> (see more).</a></p>
<p>I am the general chair of <a href="https://www.floc2022.org">FLOC 2022</a>. I am a member of the <a href="https://www.sigplan.org">SIGPLAN</a> executive committee and the <a href="https://www.sigplan.org/Conferences/POPL/">POPL</a> steering committee. I am a member of <a href="https://www.sigplan.org/Cares/">SIGPLAN CARES</a> and a mentor in the SIGPLAN Long-term <a href="https://www.sigplan.org/LongTermMentoring/">mentoring</a> program.</p>
<p>I have given invited talks at a number of conferences, including <a href="https://etaps.org/2022/invited-talks">ETAPS'22</a>, <a href="https://popl22.sigplan.org">POPL'22</a>, <a href="https://tcs.rwth-aachen.de/mfcs2019/">MFCS 2019</a>, <a href="http://cie2018.uni-kiel.de">CiE 2018</a>, <a href="https://www.cs.ox.ac.uk/conferences/fscd2017/">FSCD 2017</a>, and
<a href="http://csl16.lif.univ-mrs.fr">CSL 2016</a>. A complete list can be found in my <a href="https://alexandrasilva.org/files/cv.pdf">CV</a>.</p>


        <p>I collaborate(d) with wonderful people:</p>
        <div ng-repeat="dim in rowsPerSize" class="collaborators visible-{{dim.size}}-block">
          <div ng-repeat="row in getCollaboratorRows(dim.elems)" class="row">
            <div ng-repeat="person in row" class="col-{{dim.size}}-{{12 / dim.elems}}">
              <div class="thumbnail">
                <a ng-href="/#/publications.html?search={{person.name}}">
                  <img ng-src="img/collaborators/{{person.img}}" alt="{{person.name}}">
                </a>
                <div class="caption">
                  <a ng-href="/#/publications.html?search={{person.name}}">
                    <h4>
                      <span ng-bind="person.name"></span>
                      <small>({{getNumPubForAuthor(person)}})</small>
                    </h4>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
