<div id="research" class="page" ng-controller="CollabCtrl">
  <div class="pageheader">
    <div class="headercontent">
      <div class="section-container">
        <h2 class="title">Activities</h2>
        <p>I have served on several program committees: FORTE 2017 (co-chair), ESOP 2017, <a href="http://lsfa2016.mat.unb.br">LSFA 2016<a>, <a href="http://2016.discotec.org/index.php?MG=20&Mid=9&sub1=1">FORTE 2016</a>, <a href="http://2016.discotec.org/index.php?MG=110&Mid=25&sub1=1?MG=60&Mid=25&sub1=1">ICE 2016</a>, <a href="http://www.coalg.org/cmcs16/">CMCS 2016</a>, <a href="http://lics.rwth-aachen.de/">LICS 2016</a>, ...<a href="#/programcommittees.html"> (see more).</a></p>
        

        <p> I am the chair of Conference Committee of <a href="www.siglog.org">ACM SIGLOG</a>, as well as the Secretary of its Executive Committee. I am a member of the Steering Committe of <a href="http://lics.rwth-aachen.de">LICS</a> and <a href="http://2016.discotec.org/index.php?MG=110&Mid=25&sub1=1?MG=60&Mid=25&sub1=1">ICE</a>.
        <p> I was the co-chair of the organization committee of <a href="http://coalg.org/calco15/">CALCO 2015</a>, <a href="http://events.cs.bham.ac.uk/mfps31/">MFPS 2015</a>, and <a href="http://event.cwi.nl/cmcs10/">CMCS'10</a> and the publicity chair of CMCS and CALCO in the period 2012-2015. I was also a member of the organizing committee of <a href="http://discotec.project.cwi.nl/index.php/Main_Page">DisCoTec'10</a>.</p>

        <p>I have given invited talks at <a href="http://mafalda.fdi.ucm.es/concur2015/">CONCUR 2015</a>, <a href="http://www.indiana.edu/~iulg/wollic/">WOLLIC 2015</a> (invited talk and tutorial), <a href="http://ceres.hh.se/mediawiki/index.php/TRENDS_2014/">TRENDS 2014</a>, <a href="http://www.cs.cornell.edu/Conferences/MFPS30/">MFPS 2014</a>, <a href="http://aplas2013.soic.indiana.edu">APLAS 2013</a>, <a href="http://fics2013.univ-mlv.fr">FICS 2013</a> and <a href="http://www.illc.uva.nl/Tbilisi/Tbilisi2013/">TbiLLC 2013</a>.</p>

        <p>From 2011-2015, I was the site representative in Nijmegen of <a href="http://homepages.cwi.nl/%7Ewinter/coin.html">COIN</a>: Coalgebra in the Netherlands, a bi-monthly seminar, alternatingly taking place at CWI and the Radboud University Nijmegen. From 2012-2014, I co-organized the <a href="http://www.fnds.cs.ru.nl/fndswiki/Seminars">Brouwer seminar</a>. From 2008-2011, I organized with Frank de Boer the <a href="http://acg.project.cwi.nl">ACG seminar</a>.</p>

        <p>I collaborate(d) with wonderful people:</p>
        <div ng-repeat="dim in rowsPerSize" class="collaborators visible-{{dim.size}}-block">
          <div ng-repeat="row in getCollaboratorRows(dim.elems)" class="row">
            <div ng-repeat="person in row" class="col-{{dim.size}}-{{12 / dim.elems}}">
              <div class="thumbnail">
                <a ng-href="/#/publications.html?search={{person.name}}">
                  <img ng-src="img/collaborators/{{person.img}}" alt="{{person.name}}">
                </a>
                <div class="caption">
                  <a ng-href="/#/publications.html?search={{person.name}}">
                    <h4>
                      <span ng-bind="person.name"></span>
                      <small>({{getNumPubForAuthor(person)}})</small>
                    </h4>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
