<div id="publications" class="page">
  <div class="page-container">
    <div class="pageheader">
      <div class="headercontent">
        <div class="section-container">
          <h2 class="title">Selected Publications</h2>
          <div class="row">
            <div class="col-md-12">
              <p>You may also want to check my <a href="http://www.informatik.uni-trier.de/~ley/pers/hd/s/Silva:Alexandra.html">DBLP page</a>.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="pagecontents">
      <div class="section color-1" id="filters">
        <div class="section-container">
          <div class="row">
            <div class="col-md-2">
              <h3 class="pull-right">Filter by type:</h3>
            </div>
            <div class="col-md-4 pull-left">
              <select pub-type-dropdown="true" id="cd-dropdown" name="cd-dropdown" class="cd-select pull-left">
                <option class="filter" value="all" selected>All types</option>
                <option class="filter" value="jpaper">Jounal Papers</option>
                <option class="filter" value="cpaper">Conference Papers</option>
                <option class="filter" value="edited">Edited</option>
                <option class="filter" value="other">Other</option>
                <!-- <option class="filter" value="report">Reports</option>
                     <option class="filter" value="tpaper">Technical Papers</option> -->
              </select>
            </div>
            <form class="form-inline col-md-6" role="search" id="pub-search">
              <div class="form-group pull-right">
                <div class="input-group">
                  <label class="sr-only" for="searchInput">Search</label>
                  <input type="text" ng-model="search" class="form-control input-lg" id="searchInput" placeholder="Search">
                  <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="section color-2" pub-grid="true">
        <div class="section-container">
          <div class="row">
            <div class="col-md-12">
              <div class="pitems">
                <div ng-repeat="paper in papers | filter: search" class="item" ng-class="{'has-details': paper.abstract}">
                  <div class="pubmain">
                    <div class="pubassets">
                      <a class="pubcollapse" ng-if="paper.abstract">
                        <i class="icon-expand-alt"></i>
                      </a>
                      <a ng-if="paper.conference.url" ng-href="{{paper.conference.url}}" class="toooltips" title="Conference page" target="_blank">
                        <i class="icon-external-link"></i>
                      </a>
                      <a ng-if="paper.edited.url" ng-href="{{paper.edited.url}}" class="toooltips" title="Journal page" target="_blank">
                        <i class="icon-external-link"></i>
                      </a>
                      <a ng-if="paper.download.pdf" ng-href="{{paper.download.pdf}}" class="tooltips" title="Download PDF" target="_blank">
                        <i class="icon-cloud-download"></i>
                      </a>
                    </div>
                    <h4 class="pubtitle" ng-bind="paper.title"></h4>
                    <div class="pubauthor">
                      <span ng-repeat="author in paper.authors">
                        <span ng-bind="author"></span><span ng-hide="$last">,</span>
                      </span>
                    </div>
                    <div class="pubcite">
                      <span ng-if="paper.conference">
                        <span class="label label-warning">Conference Paper</span>
                        In <emph ng-bind="paper.conference.name"></emph>,
                        <span ng-bind="paper.conference.location"></span>,
                        <span ng-bind="paper.year"></span>
                      </span>
                      <span ng-if="paper.edited">
                        <span class="label label-info">Edited</span>
                        <emph ng-bind="paper.edited.series"></emph>,
                        <span ng-if="paper.edited.volume">vol. <emph ng-bind="paper.edited.volume"></emph>,</span>
                        <span ng-if="paper.edited.pages">pp. <emph ng-bind="paper.edited.pages"></emph>,</span>
                        <span ng-if="paper.edited.note"><span ng-bind="paper.edited.note"></span>,</span>
                        <span ng-bind="paper.year"></span>
                      </span>
                    </div>
                  </div>
                  <div ng-if="paper.abstract" class="pubdetails">
                    <h4>Abstract</h4>
                    <p ng-bind-html="paper.abstract"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
