<div id="publications" class="page" data-spy="scroll" data-target="#pub-year-nav">
  <div class="page-container">
    <div class="pageheader">
      <div class="headercontent">
        <div class="section-container">
          <h2 class="title">My Publications</h2>
          <div class="row">
            <div class="col-md-12">
              <p>You may also want to check my
                <a href="http://www.informatik.uni-trier.de/~ley/pers/hd/s/Silva:Alexandra.html">DBLP page</a> and
                <a href="http://scholar.google.com/citations?user=Vgu38TgAAAAJ">Google Scholar page</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section color-1" id="filters">
      <div class="section-container">
        <div class="row">
          <div class="col-md-2">
            <h3 class="pull-right">Filter by type:</h3>
          </div>
          <div class="col-md-4 pull-left">
            <select pub-type-dropdown="true" id="cd-dropdown" name="cd-dropdown" class="cd-select pull-left">
              <option class="filter" value="all" selected>All types</option>
              <option class="filter" value="journal">Jounal Papers</option>
              <option class="filter" value="conference">Conference Papers</option>
              <option class="filter" value="edited">Edited</option>
              <option class="filter" value="techreport">Technical Reports</option>
              <option class="filter" value="unpublished">Unpublished</option>
            </select>
          </div>
          <form class="form-inline col-md-6" role="search" id="pub-search">
            <div class="form-group pull-right">
              <div class="input-group">
                <label class="sr-only" for="searchInput">Search</label>
                <input type="text" ng-model="search" class="form-control input-lg" id="searchInput" placeholder="Search">
                <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
              </div>
            </div>
          </form>
        </div>
        <div class="row">
          <div class="col-sm-2 col-sm-offset-5"
               ng-repeat="author in matchingCollaborators" ng-if="matchingCollaborators.length == 1">
            <div class="thumbnail">
              <img ng-src="img/collaborators/{{author.img}}" alt="{{autor.name}}">
              <div class="caption">
                <h4 class="text-center" ng-bind="author.name"></h4>
                <p class="text-center"><a ng-href="{{author.link}}" target="_blank"><i class="icon-home"></i> Homepage</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="pub-year-nav" class="navbar navbar-default">
      <div class="container">
        <a class="navbar-brand">By year:</a>
        <ul class="nav navbar-nav">
          <li ng-repeat="yearPapers in papersByYear | orderBy:'year':true" role="presentation">
            <a ng-href="#pubs-in-{{yearPapers.year}}" prevent-default ng-click="gotoYear(yearPapers.year)" ng-bind="yearPapers.year"></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="section color-2" pub-grid="true">
      <div class="section-container" class="row">
        <div class="pitems">
          <h1 ng-repeat-start="yearPapers in papersByYear | orderBy:'year':true"
              id="pubs-in-{{yearPapers.year}}" class="year" ng-bind="yearPapers.year"
              ng-show="getPapersToDisplay(yearPapers).length">
          </h1>
          <div ng-repeat-end ng-repeat="paper in getPapersToDisplay(yearPapers)" class="item" ng-class="{'has-details': paper.abstract}">
            <div class="pubmain">
              <div class="pubassets">
                <a class="pubcollapse" ng-if="paper.abstract" href="">
                  <i class="icon-expand-alt"></i>
                </a>
                <a ng-if="paper.conference.url" ng-href="{{paper.conference.url}}" class="toooltips" title="Conference page" target="_blank">
                  <i class="icon-external-link"></i>
                  </a>
                <a ng-if="paper.edited.url" ng-href="{{paper.edited.url}}" class="toooltips" title="Journal page" target="_blank">
                    <i class="icon-external-link"></i>
                </a>
                <a ng-if="paper.download" ng-href="{{paper.download}}" class="tooltips" title="Download PDF" target="_blank">
                  <i class="icon-cloud-download"></i>
                </a>
              </div>
              <h4 class="pubtitle" ng-bind="paper.title"></h4>
              <div class="pubauthor">
                <span ng-repeat="author in paper.authors">
                  <span ng-bind="author" ng-class="{'emph': selectedCollaborator({name: author}), 'clickable': author != 'Alexandra Silva'}" ng-click="author != 'Alexandra Silva' ? searchFor(author) : null"></span>
                  <span ng-hide="$last">,</span>
                </span>
              </div>
              <div class="pubcite">
                <span ng-if="paper.note"><span ng-bind="paper.note"></span>,</span>
                <span ng-if="paper.conference">
                  <span class="label label-warning">Conference Paper</span>
                  In <emph ng-bind="paper.conference.name"></emph>,
                  <span ng-bind="paper.conference.location"></span>,
                  </span>
                <span ng-if="paper.edited">
                  <span class="label label-info">Edited</span>
                  <emph ng-bind="paper.edited.series"></emph>,
                  <span ng-if="paper.edited.volume">vol. <emph ng-bind="paper.edited.volume"></emph>,</span>
                  <span ng-if="paper.edited.pages">pp. <emph ng-bind="paper.edited.pages"></emph>,</span>
                  <span ng-if="paper.edited.note"><span ng-bind="paper.edited.note"></span>,</span>
                </span>
                <span ng-if="paper.journal">
                  <span class="label label-danger">Journal Paper</span>
                  <emph ng-bind="paper.journal.name"></emph>,
                  <span ng-if="paper.journal.note"><span ng-bind="paper.journal.note"></span>, </span>
                </span>
                <span ng-if="paper.techreport">
                  <span class="label label-default">Technical Report</span>
                  Technical Report
                  <span ng-if="paper.techreport.number"><emph ng-bind="paper.techreport.number"></emph>,</span>
                  <span ng-if="paper.techreport.institution"><span ng-bind="paper.techreport.institution"></span>,</span>
                </span>
                <span ng-if="paper.unpublished">
                  <span class="label label-default">Unpublished</span>
                  <span ng-if="paper.unpublished"><emph ng-bind="paper.unpublished"></emph>,</span>
                </span>
                <span ng-bind="paper.year"></span>
              </div>
            </div>
            <div ng-if="paper.abstract" class="pubdetails">
              <h4>Abstract</h4>
              <p ng-bind-html="paper.abstract"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
